
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/MainLayoutAdmin.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="panel-title">Blog list</h3>
                        </div>
                        <div class="col-md-4">
                            <form class="input-form" action="" method="GET" role="form">
                                <div class="input-group">
                                    <input class="form-control" type="search" placeholder="Search" name="key"
                                           aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-navbar" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Main Image</th>
                                <th>Title</th>
                                <th>Date Submitted</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                <tr>
                    <td></td>
                    <td>
                        <img src="" alt="" width="70px">
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <form style="display: inline-block" method="POST" action="">
                                <a href="">
                                    <i class="btn btn-xs btn-danger fa fa-edit"></i>
                                </a>
                                <button type="submit" class="btn btn-xs btn-warning fa fa-trash"></button>
                        </form>
                        <a href="">
                            <i class="btn btn-xs btn-success fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <ul class="pagination">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

