
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/MainLayoutAdmin.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Account Information</a></li>
                    <li class=""><a href="#change_pass" data-toggle="tab" aria-expanded="false">Password</a></li>
                    <li class=""><a href="#change_role" data-toggle="tab" aria-expanded="false">Decentralization</a></li>
                </ul>
                <form action="" method="POST" role="form">

                    <div class="tab-content">
                        <div class="tab-pane active" id="activity">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" id="name" name="name">

                                    <small style="color:red"></small>

                                </div>
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="text" class="form-control" name="email">

                                    <small style="color:red"></small>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="change_pass">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="">Password</label>
                                    <input type="password" class="form-control" name="password">

                                    <small style="color:red"></small>

                                </div>
                                <div class="form-group">
                                    <label for="">Confirm password</label>
                                    <input type="password" class="form-control" name="confirm_password">

                                    <small style="color:red"></small>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="change_role">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="">Roles</label>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="role[]" value="">
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a href="" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-primary pull-right">Update</button>
                    </div>
                </form>
            </div>
        </div>
</section>

