
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/MainLayoutAdmin.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="panel-title">ADS list</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image</th>
                                <th>Key</th>
                                <th>Description</th>
                                <th>New added day</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <img src="" width="90px" alt="">
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <form action="" method="POST" class="form-inline" role="form">
                                        <a href="">
                                            <i class="btn btn-xs btn-danger fa fa-edit"></i>
                                        </a>
                                        <button type="submit" class="btn btn-xs btn-warning fa fa-trash"></button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
