
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/MainLayoutAdmin.cshtml";
}
<div class="box-body">
    <iframe src="" frameborder="0" width="100%" height="600px" style="overflow-y: auto;border:0;"></iframe>
</div>

