@model IEnumerable<OnlineOrder.Config>
@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/MainLayoutAdmin.cshtml"; }
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="panel-title">Configuration</h3>
                        </div>
                        <div class="col-md-4">
                            <form class="input-form" action="" method="GET" role="form">
                                <div class="input-group">
                                    <input class="form-control" name="search" type="search" placeholder="Search" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-navbar" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image</th>
                                <th>Key</th>
                                <th>Link</th>
                                <th>Data</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>
                        <img src="" alt="">
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Key)</td>
                    <td>@Html.DisplayFor(modelItem => item.Link)</td>
                    <td>@Html.DisplayFor(modelItem => item.Data)</td>
                    <td>
                        <form action="" method="POST" class="form-inline" role="form">
                            <a href="">
                                <i class="btn btn-xs btn-danger fa fa-edit"></i>
                            </a>
                            <button type="submit" class="btn btn-xs btn-warning fa fa-trash"></button>
                        </form>
                    </td>
                </tr>}
                        </tbody>
                    </table>
                    <div class="text-center">
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

